# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env e Configurações Sensíveis
.env
databaseconfig/DatabaseConfig.java

# Sistema
.DS_Store
Thumbs.db

# Editor e IDEs
.vscode/
.idea/
.settings/
.classpath
.project

# Java e Maven
/bin/
/target/
*.class
*.jar
*.war
*.ear